@font-face {
    font-family: 'Kodchasan';
    src: url('Kodchasan-ExtraLightItalic.woff2') format('woff2'),
        url('Kodchasan-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('Kodchasan-Italic.woff2') format('woff2'),
        url('Kodchasan-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('Kodchasan-Light.woff2') format('woff2'),
        url('Kodchasan-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('Kodchasan-Medium.woff2') format('woff2'),
        url('Kodchasan-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('Kodchasan-LightItalic.woff2') format('woff2'),
        url('Kodchasan-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('Kodchasan-MediumItalic.woff2') format('woff2'),
        url('Kodchasan-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('Kodchasan-SemiBoldItalic.woff2') format('woff2'),
        url('Kodchasan-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('Kodchasan-SemiBold.woff2') format('woff2'),
        url('Kodchasan-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('Kodchasan-ExtraLight.woff2') format('woff2'),
        url('Kodchasan-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('Kodchasan-Regular.woff2') format('woff2'),
        url('Kodchasan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('Kodchasan-Bold.woff2') format('woff2'),
        url('Kodchasan-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('Kodchasan-BoldItalic.woff2') format('woff2'),
        url('Kodchasan-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

