* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #ffffff;
    font-family: "Kodchasan" ;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.7);
}

.container {
    max-width: 1530px;
    margin: 0 auto;
    padding: 0 15px;
}
/*Footer container*/

.container_next {
    max-width: 1146px;
    margin: 0 auto;
}

/*Footer conteiner*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 31px;

}

.nav_link {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    list-style: none;


}

.nav_link a {
    text-decoration: none;
    color: #000000;
    margin-left: 41px;
}

.image {
    min-height: 865px;
    background-image: linear-gradient(76deg, #FF9D2D, #FFD877);
    border-radius: 30px;
    position: relative;
    margin-bottom: 130px;

}

.image_img {
    display: block;
    position: absolute;
    margin: 90px auto auto 59px;
    z-index: 1;

}

.bee {
    position: absolute;
    left: 789px;
    top: 127px;
    z-index: 2;

}

.image_title h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 130px;

}

.image_text {
    position: absolute;
    top: 162px;
    left: 78px;
    z-index: 2;

}

.btn {
    width: 180px;
    height: 65px;
    color: white;
    background-color: black;
    border-color: black;
    margin-top: 110px;
    margin-right: 30px;
}

.btn_right {
    color: black;
    background-color: transparent;
    border-color: black;
}

.shop_title{
    font-weight: 700;
    font-size: 45px;
    padding-left: 130px;
    padding-bottom: 50px;
}

.shop {
    display: flex;
    justify-content: space-evenly;

}

.about {
    display: flex;
    padding-top: 130px;
}

.about_title {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.title{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 145%;
    padding-bottom: 30px;
}

.text{
    font-style: normal;
    opacity: 0.7;
    font-weight: 600;
    font-size: 22px;
    line-height: 160%;
    padding-bottom: 30px;
}

.learn_more {
    display: inline-block;
    color: white;
    padding: 15px 40px;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    width: 184px;
    height: 59px;
    background-color: #E58311;
}

.too {
    padding-top: 100px;
    flex-direction: row-reverse
}

.our {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 50px;
}

.our a {
    color: #E58211;
}

.our h3 {
    font-weight: 700;
    font-size: 45px;
}

.product {
    display: flex;
    justify-content: space-between;
    padding-bottom: 130px;
}

.product_item {
    min-width: 558px;
    min-height: 305px;
    background-image: url("../img/back_product.png");
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item_title{
    margin-left: 30px;
}

.item_title a {
    color: #E58211;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    width: 140px;
    height: 49px;
    border: 1px solid #E58211;


}

.item_title h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    margin-bottom: 20px;
}

.item_title p {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 30px;

}

.our_img {
    padding-right: 40px;
}

/*Footer*/

.footer {
    min-height: 137px;
    background-image: linear-gradient(76deg, #FF9D2D, #FFD877);
    display: flex;

}

.futer_menu {
    display: flex;
    align-items: center;
}

.futer_menu p {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    opacity: 0.7;
    padding-left: 50px;

}

.futer_menu ul {
    display: flex;
    list-style: none;
    padding-right: 173px;
    margin-left: 50px;
}

.futer_menu li {
    padding-right: 40px;
}

.footer_app {
    padding-right: 20px;
}